body {
    background-image: url(./imagenes/FondoRegistro.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif; 
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.baseTorre{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 10px;
    background: black;
}

.columna1, .columna2, .columna3{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    height: 250px;
    background: black;
}
/* div iniciales para su creación */
.disco {
    top: 180px;
    width: 40px;
    height: 20px;
    background-color: rgb(0, 0, 255);
    position: relative;
    border-radius: 10px;
}
.disco:nth-child(2) {
    width: 60px;
    height: 20px;
    background-color: green;
}
.disco:nth-child(3) {
    width: 80px;
    height: 20px;
    background-color: red;
}
.disco:nth-child(4) {
    width: 100px;
    height: 20px;
    background-color: orange;
}
.disco:nth-child(5) {
    width: 120px;
    height: 20px;
    background-color: purple;
}
.disco:nth-child(6) {
    width: 140px;
    height: 20px;
    background-color: rgb(24, 145, 161);
}
.disco:nth-child(7) {
    width: 160px;
    height: 20px;
    background-color: rgb(79, 219, 15);
}
.disco:nth-child(8) {
    width: 180px;
    height: 20px;
    background-color: rgb(255, 94, 0);
}
/* posición inicial de acuerdo al nivel*/
.disco_Nvl2{
    top: 160px;
}
.disco_Nvl3{
    top: 140px;
}
.disco_Nvl4{
    top: 120px;
}
.disco_Nvl5{
    top: 100px;
}
/* posiciones en juego */
.disco_Posicion1{
    top:240px !important;
}
.disco_Posicion2{
    top:200px !important;
}
.disco_Posicion3{
    top:160px !important;
}
.disco_Posicion4{
    top:120px !important;
}
.disco_Posicion5{
    top:80px !important;
}
.disco_Posicion6{
    top:40px !important;
}
.disco_Posicion7{
    top:0px !important;
}
.disco_Posicion8{
    top:-40px !important;
}
/* clases con las propiedades */
.proiedad1{
    width: 40px;
    height: 20px;
    background-color: rgb(0, 0, 255);
    position: relative;
    border-radius: 10px;
}
.proiedad2{
    width: 60px;
    height: 20px;
    background-color: green;
    position: relative;
    border-radius: 10px;
}
.proiedad3{
    width: 80px;
    height: 20px;
    background-color: red;
    position: relative;
    border-radius: 10px;
}
.proiedad4{
    width: 100px;
    height: 20px;
    background-color: orange;
    position: relative;
    border-radius: 10px;
}
.proiedad5{
    width: 120px;
    height: 20px;
    background-color: purple;
    position: relative;
    border-radius: 10px;
}
.proiedad6{
    width: 140px;
    height: 20px;
    background-color: rgb(24, 145, 161);
    position: relative;
    border-radius: 10px;
}
.proiedad7{
    width: 160px;
    height: 20px;
    background-color:rgb(79, 219, 15);
    position: relative;
    border-radius: 10px;
}
.proiedad8{
    width: 180px;
    height: 20px;
    background-color:rgb(255, 94, 0);
    position: relative;
    border-radius: 10px;
}
/* ---------------------------- */
/* Posiciones de los discos iniales */
.inicial1{
    top: 180px;
}
.inicial2{
    top: 160px;
}
.inicial3{
    top: 140px;
}
.inicial4{
    top: 120px;
}
.inicial5{
    top: 100px;
}
.inicial6{
    top: 80px;
}
.inicial7{
    top: 40px;
}
.inicial8{
    top: 0px;
}